body{ 
    background-color: hotpink;
    color:white;
    font-family: monospace;
}

header{
    text-transform: uppercase;
    padding: 40px;
    h1{
        cursor: pointer;
        float: left;
        font-size: 14px; 
        margin: 0;
        transition: .3s all;
    }
    ul{
        font-size: 14px;
        list-style: none;
        padding: 0;
        float:right;
        margin: 0;
        li{
            cursor: pointer;
            display: inline-block;
            margin-left: 20px;
            transition: .3s all;
        }
    }
    h1:hover, li:hover{
        transform: translateY(-5px);
        transition: .3s all;
        cursor: pointer;
    }
   
}

.animation{
    z-index: -1;
    display: none;
    
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    
   
    background-size: cover;
    background-position: center center;
}
     
.contact{
   background-image: url(images/blunt.JPG);
}
 

.visuals{
    background-image: url(images/elijah.JPG);

}

.links{
    background-image: url(images/cig.JPG);
}

.info{
    background-image: url(images/sup.JPG);

}

.home{
    background-image: url(images/wanke.JPG);
    
}

.info-box{
    
    button{
        
    }
    p{
        display: none;
    }
    p.visible{
        display: block;
    }
    
}

.nav{ 
text-align: center;
position: fixed ;
bottom: 30px;
left:100px;
right:100px;
background-color: pink;
   
}
 

.nav > td >a >button { color: yellow;
    font-weight: 700%;
} 


.nav > td > a :hover {
    color: black;
}



.blunt{ width: 80%}
.cig{width: 70%}
.booboo{width: 80%}
.wanke{width: 70%}
.elijah{width: 80%}

.contactpage{
    margin-top: 50%;
    bottom:50%;
    background: red;
    margin-bottom: 50%;
    
}

h1 { font-family: 'Roboto', sans-serif;
    color: yellow;
    margin:60px ;
    text-align: center;
    
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: gold; 
    width:  80%;
}



p { font-family: 'Roboto', sans-serif;
    color: yellow;
    text-align: center;
    text-emphasis: yellow;
    font-size: 30px;
}

h2{
    color:pink;
    text-align: center;
    
}


.link1{
    color:pink;
    font-size: 40px;
    
}
.link2{
    font-size: 30px;
}

.link3{ 
    font-size: 40px;
}


